includes:
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon

parameters:
    level: 9
    paths:
        - bin/
        - config/
        - public/
        - src/
    excludePaths:
        - config/reference.php
    ignoreErrors:
        - '#Cannot cast mixed to string#'
        - '#should return array.*but returns mixed#'
        - '#is never read, only written#'
