###> symfony/framework-bundle ###
APP_ENV='dev'
APP_SECRET='r65hn4b35adfb46x8jzf796x85yf5bs8'
###< symfony/framework-bundle ###

###> doctrine/doctrine-bundle LOCAL ###
DATABASE_HOST='dev_db_mysql'
DATABASE_PORT=3306
DATABASE_USERNAME='root'
DATABASE_PASSWORD=''
DATABASE_DATABASE_NAME='oil_service'
DATABASE_SERVER_VERSION='9.0.1'
DATABASE_CHARSET='utf8'
###< doctrine/doctrine-bundle ###

###> app/Auth ###
AUTH_TOKEN_REFRESH_EXPIRES=2764800
AUTH_TOKEN_ACCESS_EXPIRES=3600
###< app/Auth ###

###> app/cors ###
CORS_ALLOW_ORIGIN='.*'
###< app/cors ###

###> sentry/sentry-symfony ###
SENTRY_DSN='https://examplePublicKey@o0.ingest.sentry.io/0'
###< sentry/sentry-symfony ###

###< Google Translate ###
GOOGLE_TRANSLATE_API_KEY=''
###< Google Translate ###

###> Blob ###
AZURE_BLOB_CONNECTION_STRING=''
AZURE_BLOB_CONTAINER='oil-service'
AZURE_BLOB_PREFIX=''
###< Blob ###

###> OpenAI ###
OPENAI_API_KEY=''
OPENAI_CHAT_MODEL=''
OPENAI_ORGANIZATION=''
OPENAI_PROJECT=''
###< OpenAI ###

###> Vehicle Data Cube ###
VEHICLE_DATA_CUBE_API_KEY='<API_KEY>'
###< Vehicle Data Cube ###